.header {
    color: white;
    background-color: rgb(69, 102, 140);
    height:60px;
    width: 700px;
     
    margin-top: 20px;
    margin-left: 23px;
     
    position:absolute;
    z-index:11;
      
}
.header h1 {
    padding:5px ;
    margin-left: 40px;
}

.triange{
    border-top:30px  solid transparent; 
    border-bottom:30px solid transparent;
    border-right:30px solid  white;
      position: absolute;
    z-index:999;
    margin-left:695px;
    margin-top:20px;
    
     
}

.cone{
    position: absolute; 
   
    margin-top: 80px;
    margin-left: 23px;
    border-bottom:7px solid transparent;
    border-left:7px solid transparent ;
     
    border-top:7px solid  rgb(24, 65, 112);
    
}